{% autoescape off %}
Hi {{ user.get_username }},

Someone asked for a password reset for the email address {{ email }}.
If that wasn't requested by you then please respond by email to us.

In case you forgot your username it is - {{ user.get_username }}. If that was all then you
proceed to login at {{ protocol }}://{{ domain }}{% url 'login' %}

To initiate the password reset process for your {{ user.get_username }} Dispensary DB account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,

The DispensaryDB Team
{% endautoescape %}