{% extends "patientdb/base.html" %}

{% block content %}

    {% include "patientdb/container_start.html" with cardtitle="About Us" %}

        <p></p>
            <p>Its all about us. Its all about us. Its all about us. Its all about us</p>
            <p>Its all about us. Its all about us. Its all about us. Its all about us</p>
            <p>Its all about us. Its all about us. Its all about us. Its all about us</p>
            <p>Its all about us. Its all about us. Its all about us. Its all about us</p>
            <p></p>
            <p>Its all about us. Its all about us. Its all about us. Its all about us</p>
            <p>Its all about us. Its all about us. Its all about us. Its all about us</p>
            <p>Its all about us. Its all about us. Its all about us. Its all about us</p>
            <p>Its all about us. Its all about us. Its all about us. Its all about us</p>

    {% include "patientdb/container_end.html" %}


{% endblock content %}