<div class="container mt-3">
        <span class="mr-2">Sort by:</span>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optsort" value="0">Formula Code
          </label>
        </div>
        <div class="form-check-inline disabled">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optsort" value="1">Last name
            </label>
          </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optsort" value="2">First name
          </label>
        </div>
      </div>