{% extends "patientdb/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block multiselectcss %}
    {{ form.media.css }}
{% endblock multiselectcss %}

{% block select2css %}
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
{% endblock select2css %}

{% block content %}
    
        {% include "patientdb/container_start.html" with cardtitle="Update Herbal Medicine" %}
        <br />
        <div class="card card-body bg-light shadow">
            <form method="POST">
                {% csrf_token %}

                <!-- {% include 'patientdb/form.html' %} -->
                {% crispy form %}
                <input type="submit" value="Save Changes" class="btn btn-primary btn-block">
            </form>
        </div>
        {% include "patientdb/container_end.html" %}

        {% include "patientdb/addindication_modal.html" %}
        
{% endblock %}

{% block multiselectjs %}
    {{ form.media.js }}
{% endblock multiselectjs %}

{% block modaljs %}
    <script src="{% static 'js/modalcontrol.js' %}"></script>
{% endblock modaljs %}