{% extends "patientdb/base.html" %}

{% block content %}
    
        {% include "patientdb/container_start.html" with cardtitle="Add Product Strength" %}
        <div class="card card-body bg-light shadow">
              <form method="POST">
                  {% csrf_token %}

                  {% include 'patientdb/form.html' %}

                  <input type="submit" value="Add Product Strength" class="btn btn-primary btn-block">
              </form>
           </div>       
        {% include "patientdb/container_end.html" %}
       
{% endblock %}
