<div class="row">
        <div class="col-md-6">
          <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                       <i class="fas fa-search"></i>
                  </span>
              </div>
              <input value="{{ searchfieldvalue }}" class="form-control" name="searchfield1" type="search" placeholder="{{ msg }} ..." aria-label="Search">
          
              <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Search
                      <span class="badge badge-dark">{{ paginator.count }}</span>
                  </button>
              </div>
              <a class="btn btn-outline-primary text-center ml-1" href="{{ reset }}">Reset</a>
          </div>
        </div> 
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <select class="form-control" id="Select1" name="paginate_by">
              <option value="5" {% if paginate_by == "5" %} selected {% endif %}>Items per page: 5</option>
              <option value="10" {% if paginate_by == "10" %} selected {% endif %}>Items per page: 10</option>
              <option value="15" {% if paginate_by == "15" %} selected {% endif %}>Items per page: 15</option>
              <option value="20" {% if paginate_by == "20" %} selected {% endif %}>Items per page: 20</option>
              <option value="25" {% if paginate_by == "25" %} selected {% endif %}>Items per page: 25</option>
              <option value="30" {% if paginate_by == "30" %} selected {% endif %}>Items per page: 30</option>
            </select>
        
          </div>
        </div> 
      </div>