{% extends "patientdb/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block multiselectcss %}
    {{ form.media.css }}
{% endblock multiselectcss %}

{% block select2css %}
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
{% endblock select2css %}

{% block content %}
    
{% include "patientdb/container_start.html" with cardtitle="Add Supplier" %}
<div class="card card-body bg-light shadow">
      <form method="POST" novalidate>
          {% csrf_token %}

          {% crispy form %}

          <!-- {% include 'patientdb/form.html' %}

          <input type="submit" value="Save" class="btn btn-primary"> -->
      </form>
</div>
{% include "patientdb/container_end.html" %}
       
{% endblock %}

{% block multiselectjs %}
    {{ form.media.js }}
{% endblock multiselectjs %}